/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.plane {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-height: 66em;
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_536969.png');
    background-position: center;
    background-repeat: no-repeat;
}

.seat {
    max-width: 1em;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
    color: grey;
    border: 1px solid black;
    padding: 0 1em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.662);
}

.seat:hover {
    background-color: lavender;
}

.seatBlue {
    color: blue;
}

#root {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
}